<div id="guide-partials">
  <div id="guide-country" class="mega-menu">
    <div class="scrollable">
      <div id="taiwan" class="navi-row">
        <div class="navi-12 hero">
          <div class="hero-image" style="background-image: url('images/taitung-3.jpg');"></div>
          <h2 class="title">台灣</h2>
          <div class="content">
            <p>臺灣是位於亞洲東部、太平洋西北側的島嶼，另有寶島、鯤島、福爾摩沙等別稱。地處琉球群島與菲律賓群島之間，西隔臺灣海峽與歐亞大陸相望；面積約3.6萬平方公里，其中7成為山地與丘陵，平原則主要集中於西部沿海，地形海拔變化大。由於地處熱帶及亞熱帶氣候區之交界，自然景觀與生態系資源相當豐富而多元。</p>
            <a href="list-grid.html" class="select-country app tiny button round primary">更多地點</a>
          </div>
        </div>
        <div class="navi-12 city-list">
          <!-- <h4>台灣</h4> -->
          <ul>
            <li><a href="list-grid.html">高雄/屏東<i class="fa circle">100</i></a></li>
            <li><a href="list-grid.html">花蓮/宜蘭/台東<i class="fa circle">3</i></a></li>
            <li><a href="list-grid.html">澎湖/金門/媽祖<i class="fa circle">40</i></a></li>
            <li><a href="list-grid.html">台中/南投/彰化<i class="fa circle">7</i></a></li>
            <li><a href="list-grid.html">台南/嘉義/雲林<i class="fa circle">11</i></a></li>
            <li><a href="list-grid.html">台北/新北/基隆<i class="fa circle">56</i></a></li>
            <li><a href="list-grid.html">桃園/新竹/苗栗<i class="fa circle">90</i></a></li>
          </ul>
        </div>
      </div>
      <div id="japan" class="navi-row">
        <div class="navi-12 hero">
          <div class="hero-image" style="background-image: url('images/japan_1.jpg');"></div>
          <h2 class="title">日本</h2>
          <div class="content">
            <p>日本國是位於東亞的一個島嶼國家，領土由日本列島（主要為北海道、本州、四國與九州四島）和六千八百多個小島組成，國土面積約37.8萬平方公里。根據日本民間傳說，日本於公元前660年2月11日建國。「日本」的意思為「朝陽升起的地方」（近日所出）。</p>
            <a href="list-grid.html" class="select-country app tiny button round primary">更多地點</a>
          </div>
        </div>
        <div class="navi-12 city-list">
          <ul>
            <li><a href="">神戶/姬路<i class="fa circle">100</i></a></li>
            <li><a href="">京都/宇治<i class="fa circle">3</i></a></li>
            <li><a href="">名古屋<i class="fa circle">40</i></a></li>
            <li><a href="">奈良<i class="fa circle">7</i></a></li>
            <li><a href="">沖繩<i class="fa circle">11</i></a></li>
            <li><a href="">大阪<i class="fa circle">56</i></a></li>
            <li><a href="">札幌/小樽<i class="fa circle">90</i></a></li>
            <li><a href="">東京<i class="fa circle">90</i></a></li>
            <li><a href="">橫濱/神奈川<i class="fa circle">90</i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>