<div id="info-partials">
<section id="place-info" class="drawer">
            <div class="tool-bar">
              <ul class="breadcrumb">
                <li><a href="list-country.html"><i class="fa fa-book"></i> 各地導覽</a></li>
                <li><a href="list-grid.html" class="guide">台灣</a></li>
                <li><a href="list-grid.html">台東</a></li>
              </ul>
            </div>
            <div class="scrollable">
              <article class="place-info">
                <header role="banner">
                  <!-- <span class="place-type"><i class="ss-camera"></i> <span>觀光</span></span> -->
                  <span class="copyright">&copy; navidove.com 2014</span>
                  <img src="images/taitung-2.jpg" alt="">
                  <!-- <h2 class="title">神戶麵包超人兒童博物館/購物中心</h2> -->
                </header>
                <main class="content navi-row" role="main">
                  <div class="navi-12 no-collapse">
                    <span class="place-type-inline"><i class="ss-camera"></i> <span>觀光</span></span>
                    <h4 class="title">神戶麵包超人兒童博物館/購物中心</h4>
                    <h6 data-tooltip class="has-tip radius subtitle" title="點擊複製">神戶麵包超人兒童博物館/購物中心</h6>
                    <small class="location"><i class="ss-signpost"></i>台東</small>
                    <small class="tags"><i class="ss-tag"></i> 藝術、公園/自然、文化、歷史、區域/路徑</small>
                  </div>

                  <div class="navi-12 no-collapse">
                    <h6>建議停留時間</h6>
                    <p>1 小時 20 分鐘</p>
                    <h6>地址</h6>
                    <p>
                      兵庫縣神戶市中央區東川崎町1-6-2<br>
                      <small data-tooltip class="has-tip radius" title="點擊複製">兵庫県神戸市中央区東川崎町1-6-2</small><br>
                      <i class="fa fa-phone"></i> 123-1234-1234<br>
                      <i class="fa fa-fax"></i> 123-1234-1234<br>
                      <i class="fa fa-envelope"></i> <a href="mailto:example@email.com">example@email.com</a>
                    </p>
                    <h6>官方網站</h6>
                    <p>
                      <a href="http://www.example.com">www.example.com</a><br>
                      <small><a href="#" target="_blank">更多 Google 圖片</a></small>
                    </p>
                    <h6>票價</h6>
                    <p>
                      <ul>
                        <li>成人：新台幣 890 元 (19 - 65 歲)</li>
                        <li>成人：新台幣 890 元 (19 - 65 歲)</li>
                        <li>成人：新台幣 890 元 (19 - 65 歲)</li>
                        <li>幼童：新台幣 390 元 (12 歲以下及身高 115 公分以上)</li>
                      </ul>
                    </p>
                    <h6>營業時間</h6>
                    <p>
                      <ul>
                        <li>
                          09/01 - 06/30
                          <ul>
                            <li>09:00 - 18:00</li>
                            <li>17:00 停止進入</li>
                          </ul>
                        </li>
                        <li>
                          09/01 - 06/30
                          <ul>
                            <li>09:00 - 18:00</li>
                            <li>17:00 停止進入</li>
                          </ul>
                        </li>
                        <li>公休日：星期一 (逢連續假日則照常開放)</li>
                      </ul>
                    </p>
                    <hr>

                    <dl class="accordion" data-accordion="">
                      <dd class="accordion-navigation">
                        <a href="#panel1">位於下列地點境內</a>
                        <div id="panel1" class="content active">
                          <div class="guide-list-normal content active" id="locate-in">
                            <!-- QUERY start -->
                            <!-- data-trend: featured, normal (建議) -->
                            <!-- article class: place tag slug -->
                            <article class="path" data-trend="featured">
                              <div class="hero">
                                <!-- if data-trend="featured" -->
                                <span class="must-go">觀光必去</span>

                                <!-- place type <i> class: lodging (ss-lodging), sightseeing(ss-camera), dining(ss-utensils) -->
                                <!-- 在該觀光/住宿/餐飲分類下只顯示icon  -->
                                <!-- <span class="place-type"><i class="ss-lodging"></i> 住宿</span> -->
                                <!-- 其他地方顯示icon以及文字 -->
                                <span class="place-type"><i class="ss-lodging"></i> 住宿</span>

                                <!-- image url, use title for alt tag -->
                                <img src="images/taitung-3.jpg" alt="神戶麵包超人兒童博物館/購物中心">
                              </div>
                              <div class="info">
                                <!-- location title display up to 2 lines, js will take care of it, you don't have to worry about this part -->
                                <h5 class="title">神戶麵包超人兒童博物館/購物中心</h5>

                                <span class="location"><i class="ss-signpost"></i>台東，台灣</span>

                                <!-- display at least 4 tags & up to 2 lines, js will take care of it -->
                                <span class="tags"><i class="ss-tag"></i> 藝術、公園/自然、文化、歷史、區域/路徑</span>

                                <div class="actions">
                                  <!-- go to place info -->
                                  <a href="place-info.html" class=""><i class="fa ss ss-view circle blue"></i></a>
                                  <!-- 新增到我的地點 -->
                                  <a href="javascript:;" class="add-to-my-places"><i class="fa ss ss-plus circle blue"></i></a>
                                </div>
                              </div>
                            </article>
                            <!-- QUERY end -->

                            <!-- DELETE the rest after finish querying -->
                            <article class="path" data-trend="featured">
                              <div class="hero">
                                <span class="must-go">觀光必去</span>
                                <span class="place-type"><i class="ss-lodging"></i> 住宿</span>
                                <img src="images/taitung-3.jpg" alt="">
                              </div>
                              <div class="info">
                                <h5 class="title">我是如來佛祖玉皇大帝觀音菩薩指定取西經特派使者花果山水濂洞美猴王齊天大聖孫悟空啊!!!!!!!!!帥到掉渣</h5>
                                <span class="location"><i class="ss-signpost"></i>台東，台灣</span>
                                <span class="tags"><i class="fa ss ss-tag"></i> 藝術、公園/自然、文化、歷史、區域/路徑</span>
                                <div class="actions">
                                  <a href="place-info.html" class=""><i class="fa ss ss-view circle blue"></i></a>
                                  <a href="javascript:;" class="add-to-my-places"><i class="fa ss ss-plus circle blue"></i></a>
                                </div>
                              </div>
                            </article>
                            <article class="path" data-trend="featured">
                              <div class="hero">
                                <span class="must-go">觀光必去</span>
                                <span class="place-type"><i class="ss-lodging"></i> 住宿</span>
                                <img src="images/taitung-3.jpg" alt="">
                              </div>
                              <div class="info">
                                <h5 class="title">神戶麵包超人兒童博物館/購物中心</h5>
                                <span class="location"><i class="ss-signpost"></i>台東，台灣</span>
                                <span class="tags"><i class="fa ss ss-tag"></i> 藝術、公園/自然、文化、歷史、區域/路徑</span>
                                <div class="actions">
                                  <a href="place-info.html" class=""><i class="fa ss ss-view circle blue"></i></a>
                                  <a href="javascript:;" class="add-to-my-places"><i class="fa ss ss-plus circle blue"></i></a>
                                </div>
                              </div>
                            </article>
                            <!-- DELETE the rest after finish querying -->
                          </div>
                        </div>
                      </dd>
                      <dd class="accordion-navigation">
                        <a href="#panel2">境內旅遊地點</a>
                        <div id="panel2" class="content">
                          <div class="guide-list-normal content" id="locate-same">
                            <!-- QUERY start -->
                            <!-- data-trend: featured, normal (建議) -->
                            <!-- article class: place tag slug -->
                            <article class="path" data-trend="featured">
                              <div class="hero">
                                <!-- if data-trend="featured" -->
                                <span class="must-go">觀光必去</span>

                                <!-- place type <i> class: lodging (ss-lodging), sightseeing(ss-camera), dining(ss-utensils) -->
                                <!-- 在該觀光/住宿/餐飲分類下只顯示icon  -->
                                <span class="place-type"><i class="ss-lodging"></i> 住宿</span>
                                <!-- 其他地方顯示icon以及文字 -->
                                <!-- <span class="place-type"><i class="ss-lodging"></i> 住宿</span> -->

                                <!-- image url, use title for alt tag -->
                                <img src="images/taitung-3.jpg" alt="神戶麵包超人兒童博物館/購物中心">
                              </div>
                              <div class="info">
                                <!-- location title display up to 2 lines, js will take care of it, you don't have to worry about this part -->
                                <h5 class="title">神戶麵包超人兒童博物館/購物中心</h5>

                                <span class="location"><i class="ss-signpost"></i>台東，台灣</span>

                                <!-- display at least 4 tags & up to 2 lines, js will take care of it -->
                                <span class="tags"><i class="ss-tag"></i> 藝術、公園/自然、文化、歷史、區域/路徑</span>

                                <div class="actions">
                                  <!-- go to place info -->
                                  <a href="place-info.html" class=""><i class="fa ss ss-view circle blue"></i></a>
                                  <!-- 新增到我的地點 -->
                                  <a href="javascript:;" class="add-to-my-places"><i class="fa ss ss-plus circle blue"></i></a>
                                </div>
                              </div>
                            </article>
                            <!-- QUERY end -->

                            <!-- DELETE the rest after finish querying -->
                            <article class="normal path" data-trend="normal">
                              <div class="hero">
                                <span class="place-type"><i class="ss-camera"></i> 觀光</span>
                                <img src="images/taitung-2.jpg" alt="">
                              </div>
                              <div class="info">
                                <h5 class="title">伯朗大道</h5>
                                <span class="location"><i class="ss-signpost"></i>台東，台灣</span>
                                <span class="tags"><i class="fa ss ss-tag"></i> 藝術、公園/自然、文化、歷史、區域/路徑</span>
                                <div class="actions">
                                  <a href="place-info.html" class=""><i class="fa ss ss-view circle blue"></i></a>
                                  <a href="javascript:;" class="add-to-my-places"><i class="fa ss ss-plus circle blue"></i></a>
                                </div>
                              </div>
                            </article>
                            <article class="normal path" data-trend="normal">
                              <div class="hero">
                                <span class="place-type"><i class="ss-camera"></i> 觀光</span>
                                <img src="images/taitung-2.jpg" alt="">
                              </div>
                              <div class="info">
                                <h5 class="title">伯朗大道</h5>
                                <span class="location"><i class="ss-signpost"></i>台東，台灣</span>
                                <span class="tags"><i class="fa ss ss-tag"></i> 藝術、公園/自然、文化、歷史、區域/路徑</span>
                                <div class="actions">
                                  <a href="place-info.html" class=""><i class="fa ss ss-view circle blue"></i></a>
                                  <a href="javascript:;" class="add-to-my-places"><i class="fa ss ss-plus circle blue"></i></a>
                                </div>
                              </div>
                            </article>
                            <!-- DELETE the rest after finish querying -->
                          </div>
                        </div>
                      </dd>
                    </dl>

                </main>
              </article>
            </div>
          </section>
        </div>